.center { text-align:center }

.dice {
    opacity: .6;
}
.dice:hover {
    cursor:pointer;
    opacity: 1;
}

.planeswalk {
    opacity: .6;
}
.planeswalk:hover {
    cursor:pointer;
    opacity: 1;
}
