<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PlaneChaser</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/base.css" />
    </head>
    <body>
        <div class="container">
            <div class="row-fluid center">
                <div class="span12">
                    <header>
                        <h2>PlaneChaser v.01</h2>
                    <header>
                </div>
            </div>
            <div class="row-fluid center">
                <div class="span12" id="plane_container">
                    <div id="planeview">
                    </div>
                </div>
            </div>
            <br />
            <div class="row-fluid center">
                <div class="span12">
                    <div class="span6 offset3">
                        <div id="diceview">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/template" id="plane-view-template">
            <div class="plane">
                <header>
                    <h3><%= name %></h3>
                </header>
                <p><%= description %></p>
                <p><%= chaos %></p>
            </div>
        </script>
        <script type="text/template" id="dice-view-template">
            <div class="dice">
                <span>Shuffle</span><br />
                <span><%= sides[active_side] %></span>
            </div>
        </script>
        <!-- BACKBONE DECLARATIONS -->
        <script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
        <script src="js/underscore-min.js" type="text/javascript"></script>
        <script src="js/backbone-min.js" type="text/javascript"></script>
        <script src="js/models.js" type="text/javascript"></script>
        <script src="js/views.js" type="text/javascript"></script>
    </body>
</html>
